In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ------------------------------------ 242.1/242.1 kB 138.7 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [71]:
import pandas as pd

In [82]:
df=pd.read_excel("EnergyCallCentre.xlsx")
df.tail()

,Unnamed: 0,Month,VHT,ToD,Agents,CallsOffered,CallsAbandoned,CallsHandled,ASA,Avehandletime
499,500,Feb-Mar,On,afternoon,4,27,0,27,0.00,4.2
500,501,Feb-Mar,On,morning,19,224,49,175,9.12,5.3
501,502,Feb-Mar,On,afternoon,33,205,8,197,1.15,5.0
502,503,Oct-Nov,On,afternoon,29,146,0,146,0.00,5.3
503,504,Oct-Nov,On,afternoon,29,146,0,146,0.00,5.3

In [91]:
def search(df,location):
    return df.iloc[location].values
search(df,2)

array([3, 'Oct-Nov', 'Off', 'afternoon', 21, 118, 0, 118, 0.0, 5.1],
      dtype=object)

In [81]:
#Add Function
def Add_Data(data,list_of_Parameters):
    data.loc[len(data)]=list_of_Parameters
    #Save into excel sheet
    data.to_excel("EnergyCallCentre.xlsx",index=False)
    
# Add_Data(df,["Oct-Nov","On","afternoon",29,146,0,146,0.00,5.3])

In [80]:
#Remove Function
def Drop_Data(data,remove_index):  #remove index me index ayega puri row delete krdega 
    data=data.drop(remove_index)
    #Save into excel sheet
    data.to_excel("EnergyCallCentre.xlsx",index=True)
# Drop_Data(df,0)

In [53]:
df.head()

,Month,VHT,ToD,Agents,CallsOffered,CallsAbandoned,CallsHandled,ASA,Avehandletime
1,Oct-Nov,On,afternoon,29,146,0,146,0.00,5.8
2,Oct-Nov,On,evening,5,37,0,37,0.00,4.2
3,Oct-Nov,Off,morning,26,163,0,163,0.13,5.0
4,Oct-Nov,Off,afternoon,21,118,0,118,0.00,5.1
5,Oct-Nov,Off,evening,4,26,0,26,0.00,5.2

In [54]:
#Update Function
# Specific Value
def Update_Single_Row(data,Update_location,Parameters):
    data.loc[Update_location]=Parameters
    #Save into excel sheet
    data.to_excel("EnergyCallCentre.xlsx",index=True)
# Single Row
def Update_Specific_data(data,Update_location,feature_column,value):  
    data.loc[Update_location,feature_column]=value
    #Save into excel sheet
    data.to_excel("EnergyCallCentre.xlsx",index=True)

In [55]:
# Update_Single_Row(df,6,["Nov-Dec","Off","morning",29,146,0,146,0.00,5.3])

array(['Nov-Dec', 'Off', 'morning', 29, 146, 0, 146, 0.0, 5.3],
      dtype=object)

In [57]:
# df.head(10)

,Month,VHT,ToD,Agents,CallsOffered,CallsAbandoned,CallsHandled,ASA,Avehandletime
1,Oct-Nov,On,afternoon,29,146,0,146,0.00,5.8
2,Oct-Nov,On,evening,5,37,0,37,0.00,4.2
3,Oct-Nov,Off,morning,26,163,0,163,0.13,5.0
4,Oct-Nov,Off,afternoon,21,118,0,118,0.00,5.1
5,Oct-Nov,Off,evening,4,26,0,26,0.00,5.2
6,Nov-Dec,Off,morning,29,146,0,146,0.00,5.3
7,Oct-Nov,Off,morning,34,191,0,191,0.22,5.2
8,Oct-Nov,Off,afternoon,31,185,3,182,0.33,5.1
9,Oct-Nov,Off,evening,12,73,0,73,0.00,4.6
10,Oct-Nov,Off,morning,28,150,0,150,0.50,5.5

In [58]:
# Update_Specific_data(df,6,['Agents'],39)

array(['Nov-Dec', 'Off', 'morning', 39, 146, 0, 146, 0.0, 5.3],
      dtype=object)

In [ ]:
df